vignettes/visualisation.Rmd
visualisation.Rmd

..Rcheck
.env
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
/doc/
/docs/
/Meta/
/vignettes/**/*.html
monarchr.BiocCheck/
monarchr.Rcheck/
monarchr_*.tar.gz

*.Rproj
